
<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <h1>Hola</h1>
                </div>
            </div>
            <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
                <ngb-panel title="Angular" class="text-center">
                  <ng-template ngbPanelContent>
                    <p>
                        Aprenda una forma de crear aplicaciones con Angular y reutilice su código y habilidades para crear aplicaciones para cualquier objetivo de implementación. Para web, web móvil, móvil nativo y escritorio nativo.
                    </p>
                    
                    <div class="alert alert-info">
                        Logre la máxima velocidad posible en la plataforma web hoy y avance, 
                      <a href="http://themeforest.net/user/iamnyasha/?ref=iamnyasha" target="_blank">
                        a través de Web Workers
                      </a>
                      y la representación del lado del servidor.
                    </div>
              
                    <div class="alert alert-danger">
                        Cree funciones rápidamente con plantillas simples y declarativas. Extienda el lenguaje de plantilla con sus propios componentes y use una amplia gama de componentes existentes.
                    </div>
                    
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="¿Que es angular?">
                  <ng-template ngbPanelContent>
                    <p>
                        Desde el prototipo hasta la implementación global, Angular ofrece la productividad y la infraestructura escalable que admite las aplicaciones más grandes de Google..
                    </p>
                    <p>
                        Angular (comúnmente llamado "Angular 2+" o "Angular 2"), es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página. Su objetivo es aumentar las aplicaciones basadas en navegador con capacidad de Modelo Vista Controlador (MVC), en un esfuerzo para hacer que el desarrollo y las pruebas sean más fáciles.
                    </p>
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="¿NUEVO EN EL DESARROLLO WEB?">
                  <ng-template ngbPanelContent>
                    <p>Una de las formas de aprender Angular es utilizando su manual y la documentación oficial que esta en esta web: https://angular.io/docs</p>
              
                    <p>1. Genere un nuevo componente para los detalles del producto. Dale al componente el nombre product-details.

                        Recordatorio: en la lista de archivos, haga clic con el botón derecho en la appcarpeta, elija Angular Generatory Component.</p>
               
                  </ng-template>
                </ngb-panel>
                
              </ngb-accordion>
        </div>
    </div>
</div>
    